<p id="notice"><%= notice %></p>

<h1>Curves</h1>

<div>
  <%= line_chart @companies.map {|company| {
        name: company.name, 
        data: company.trades.group(:updated_at).maximum(:price)
      }
    },
    xtitle: "Time", 
    ytitle: "Price",
    library: {
      chart: {
        zoomType: 'x',
        position: {
            x: 0,
            y: -30
        }
      }
    }
  %>
</div>

