<% if @order.order_type == Order::SELL %>
	<h1>New SELL Order</h1>
<% else %>
	<h1>New BUY Order</h1>
<% end %>

<%= render 'form', order: @order %>

<%= link_to 'Back', user_orders_path(current_user.id) %>
